// Reset
@import "reset";

// Base
@import "base";

// Font
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Rubik:wght@300;400;700&display=swap");

.App {
  background-color: whitesmoke;
}

.fade-in-element {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in {
  opacity: 1;
}

// Style Sections
@import "../Components/Header/Header.scss";
@import "../Components/Home/Home.scss";
@import "../Components/Skills/Skills.scss";
@import "../Components/Projects/Projects.scss";
@import "../Components/About/About.scss";
@import "../Components/Footer/Footer.scss";
